#one{
    background-image:url(wer.jpg);
    background-size:cover;
    background-position:center;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:0 20px;
    color:#778899;
}
.button{
    font-size:18px;
    text-decoration:none;
    color:rgb(255, 255, 255);
    border:#c7c7c7a9 8px solid;
    padding:10px 20px;
    border-radius:10px;
    margin-top:20px;
  }
   
