#one{
    background-image:url(gora.jpg);
    background-size:cover;
    background-position:center;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:0 20px;
  color:white;
}
.button{
    font-size:18px;
    text-decoration:none;
    color:rgb(255, 255, 255);
    border:#ffbd2fa9 8px solid;
    padding:10px 20px;
    border-radius:10px;
    margin-top:20px;
  }
  #two{
    background-image:url(banana.jpg);
    background-size:cover;
    background-position:center;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:0 20px;
  color:white;
  }
  .button4{
    font-size:18px;
    text-decoration:none;
    color:rgb(255, 255, 255);
    border:#000000a9 8px solid;
    padding:10px 20px;
    border-radius:10px;
    margin-top:20px;
  }