p {
    font-family: 'Neucha', cursive;
    color: white;
}
body {
     background: url(gh.jpg) no-repeat;
     background-size: 100%;
     background-color: black;
     opacity:0.4;
}
nav ul {
    background-color: black;
      }	
  nav ul li {
      display: inline-block;
      }
  nav a {
      display: block;
      padding: 0 10px;
      color: white;
      font-size: 16px;
      line-height: 40px;
      text-decoration: none;
  }
  nav a:hover { 
    background-color: #566DD6;
  }
  